.total {
    background-color: #E9CDA5;
    padding: 20px; /* Optional: Add padding to the container */
    height: 100vh; /* Optional: Ensure it covers the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: comfortaa;
    font-size: 1.4em;
    color: #623412;
}

.wigits {
    height: 100px;
    width: auto;
}

.border {
    border: 1px solid #623412  0.8;
    display: inline-block;
    padding: 15px;
    margin: 15px;
}

#projectHolder {
    background-color: #E9CDA5;
}


#weatherModal {
    background-color: #fcf5f6;
    position: fixed;
    width: 50%;
    height: 50%;
    top: 20%;
    left: 25%;
    border-radius: 20px;
}

.weatherContent{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 100%;
    color: pink;
}

.close {
    position: absolute;
    left: 90%;
    bottom: 83%;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(250, 227, 231);
    background: radial-gradient(circle at center, #E68698 60%, rgba(255, 52, 113, 0) 70%);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Align horizontally */
    align-items: center; /* Align vertically */
}


.weatherContent p {
    font-size: 20px;
    position: absolute;
}

#banner {
    height: 60px;
    width: 100%;
    background-color: pink;
    position: absolute;
    top: 0;
}

.weatherContent input {
    border-style: none;
    background-color: #FCF5F6; 
    border-bottom: 1px solid pink;
    width: 50%;
    margin-right: 15px;
    color: pink;

}

.weatherContent button {
    border: 1px solid pink;
    background-color: pink;
    color: #FCF5F6;
    padding: 5px;
    cursor: pointer;
}

.weatherContent button:active {
    border: 1px solid pink;
    background-color: rgb(221, 130, 145);
    color: #FCF5F6;
    padding: 5px;
    cursor: pointer;
    box-shadow: 4px 4px 5px #FFC0CB;
}

.weatherWig {
    height: 15%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.weatherContent input:focus {
    border-style: none;
    background-color: #FCF5F6; 
    border-bottom: 1px solid pink;
    width: 50%;
    margin-right: 15px;
    color: pink;
    border-color: transparent;

}


/*To-do list css*/

#todoModal {
    background-color: #fcf5f6;
    position: fixed;
    width: 50%;
    height: 50%;
    top: 20%;
    left: 25%;
    border-radius: 20px;
}